div {float: left; clear:both;}
.folder {background: url(../images/folder.png);}
.file {background: url(../images/file.png);}
.opened-folder {background: url(../images/opened-folder.ico);}
.folder, .file, .opened-folder {
    margin-left: 30px;
    padding-left: 20px;
    background-size: 20px, 20px;
    background-repeat: no-repeat;
}
.folder .folder, .opened-folder {
    margin-left: 30px;
}

.folder {
    margin-bottom: 10px;
    margin-top: 10px;
}
