body {
  background: #fff;
  margin: 20px;
}

.content {
  background: #fff;
  padding: 10px;
}

.github-preview--github-link{
  font-size: 18pt;
  font-weight: bold;
  float: left;
}

.github-preview--github-login{
  font-size: 18pt;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 10px 10px 0;
  text-transform: capitalize;
  float: left;
}

.github-preview--is-admin {
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  background: #333333;
  float: left;
}

.clearfix {
  clear: both;
}

.github-preview--right-side {
  float: left;
}

.github-preview {
  float: left;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 5px;
}

.github-preview img {
  width: 100px;
  margin-right: 20px;
  float: left;
}
